/*
  背景顏色
*/
@font-face {
  font-family: 'AbrilFatface-Regular';
  src: url('@/assets/font/AbrilFatface-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.light-background {
  --background-color: #f4fafd;
  --surface-color: #2dc7f1d4;
}

.dark-background {
  --background-color: #040b14;
  --default-color: #040b14;
  --heading-color: #ffffff;
  --surface-color: #151f2b;
  --contrast-color: #ffffff;
}
